<app-menulateral></app-menulateral>
<div id="ventana">

    <style>
        .chart-container{
            position: relative;
            height: 40vh;
            width: 100%;
        }
    </style>

        <div class="row">
            <div class="col-12 col-ms-12 col-md-4">
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-12 col-ms-12 col-md-4">
                <div class="chart-container">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            <div class="col-12 col-ms-12 col-md-4">
                <div class="chart-container">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>

        </div>

</div>

