<footer>
    <div class="container">
        <div class="row">
            <div class="text text-white col col-lg-4">
                <h3>Valhalla Coffe</h3>
                <p>Direccion</p>
                <p>Telefono</p>
                <p>About <a href="#"></a></p>
            </div>
            <div class="col text-white">
                <h4>Menu</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white">link</a></li>
                    <li><a href="#" class="text-decoration-none text-white">link</a></li>
                </ul>
            </div>
            <div class="col text-white">
                <h4>More</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white">link</a></li>
                </ul>
            </div>
            <div class="col text-white">
                <h4>Categories</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white">link</a></li>
                </ul>
            </div>
            <div class="social col-lg-3">
                <h4>Social media</h4>
                <div>
                    <a href="#" class="text-decoration-none text-dark"><i class="bi bi-instagram fs-2 me-3"></i></a>
                    <a href="#" class="text-decoration-none text-dark"><i class="bi bi-facebook fs-2 me-3"></i></a>
                    <a href="#" class="text-decoration-none text-dark"><i class="bi bi-pinterest fs-2 me-3"></i></a>
                    <a href="#" class="text-decoration-none text-dark"><i class="bi bi-github fs-2 me-3"></i></a>
                    <a href="#" class="text-decoration-none text-dark"><i class="bi bi-linkedin fs-2 me-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
